:root{
    --cor-metamorfose:rgb(247, 148, 29);
    --cor-metamorfose-transp:rgba(247, 149, 29, 0.76);
    --cor-cinza: hsl(0, 1%, 68%);
    --cor-menuLateral: rgba(173, 173, 173, 0.555);
    --cor-menuLateral-secundario: rgba(194, 194, 194, 0.699);

}

/*Pagina*/
@keyframes animacao{
    from{transform: scale(1);}
    to{transform: scale(0.8);}
}
form#formNovoUsuario{
    margin-top: 10%;
}

div#entradaImagem{
    font-family: 'Zabal', Arial, Helvetica, sans-serif;
    font-size: xx-large;
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}

select{
    margin: auto;
    display: inline;
    font-size:x-large;
    padding: 5%;
    display: block;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(255, 255, 255, 0); 
}

input#entradaImagem{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
    display: inline-block;
    font-size:x-large;
    padding: 5%;
    display: block;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
}

.novoDadoFuncionario{
    margin: auto;
    display: inline;
    font-size:x-large;
    padding: 5%;
    display: block;
    width: 70%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(255, 255, 255, 0);
}

.novoDadoFuncionario:hover{
    border-bottom: solid;
    border-color: rgb(157, 157, 235);
}
select:focus,textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input#adicionar{
    font-family: 'Zabal', Arial, Helvetica, sans-serif;
    font-size: x-large;
    border-color: rgba(210, 180, 140, 0);
    border-radius: 30px;
    padding: 2%;
    width: 20%;
    margin-top: 4%;
    margin-bottom: 4%;

    background-color: rgba(255, 255, 255, 0.678);
    color: black;
}

input#adicionar:hover{
    background: var(--cor-metamorfose);
    color: white;

}